# /config
/.robot.dev
/node_modules
/doc
/output
/tests
/rr.log
# /example
/.vscode
/robots
/example_cfig
IDEAS.md
*.php
*.png
/node_modules
Ideas.md
/**/robots
!/examples/init-template/robots
!/examples/init-skill-template/robots